@page "/register"
@using Microsoft.AspNetCore.Components.Forms
@inject RegistrationHandler Handler
@inject NavigationManager Nav

<h3>Register</h3>

@* @if (_errors?.Any() == true) *@
@* { *@
@*     <ul class="text-danger"> *@
@*         @foreach (var e in _errors) *@
@*         { *@
@*             <li>@e</li> *@
@*         } *@
@*     </ul> *@
@* } *@


<EditForm Model="_model" id="registration" class="font-[sans-serif] max-w-6xl max-lg:max-w-3xl mx-auto p-4 my-12 mb-24 bg-white shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded p-8">
    <h2 class="text-3xl text-gray-800 font-extrabold text-center mb-12">Contact us</h2>

    <div class="grid lg:grid-cols-2 items-start gap-12">
        <div class="space-y-3 text-gray-800">
            <div>
                <InputText @bind-Value="_model.FirstName"
                           id="firstName"
                           class="w-full bg-gray-100 rounded py-3 px-6 text-sm focus:bg-transparent focus:outline-blue-600"
                           placeholder="First Name"/>
                <ValidationMessage For="@(() => _model.FirstName)" class="validation-message"/>
            </div>
            
            <div>
                <InputText @bind-Value="_model.LastName"
                           id="lastName"
                           class="w-full bg-gray-100 rounded py-3 px-6 text-sm focus:bg-transparent focus:outline-blue-600"
                           placeholder="Last Name"/>
                <ValidationMessage For="@(() => _model.LastName)" class="validation-message"/>
            </div>

            <div>
                <InputText @bind-Value="_model.Email"
                           type="email"
                           id="email"
                           class="w-full bg-gray-100 rounded py-3 px-6 text-sm focus:bg-transparent focus:outline-blue-600"
                           placeholder="Email"/>
                <ValidationMessage For="@(() => _model.Email)" class="validation-message"/>
            </div>

            <div>
                <InputText @bind-Value="_model.PasswordOne"
                           id="passwordOne"
                           type="password"
                           class="w-full bg-gray-100 rounded py-3 px-6 text-sm focus:bg-transparent focus:outline-blue-600"
                           placeholder="Password"/>
                <ValidationMessage For="@(() => _model.PasswordOne)" class="validation-message"/>
            </div>

            <div>
                <InputText @bind-Value="_model.PasswordTwo"
                           id="passwordTwo"
                           type="password"
                           class="w-full bg-gray-100 rounded py-3 px-6 text-sm focus:bg-transparent focus:outline-blue-600"
                           placeholder="Confirm Password"/>
                <ValidationMessage For="@(() => _model.PasswordOne)" class="validation-message"/>
            </div>

            <button type="submit" class="text-white bg-blue-600 hover:bg-blue-700 rounded text-sm px-6 py-3 !mt-6">
                Register
            </button>
        </div>
        
    </div>

    <style>
        .validation-message {
            color: #dc3545;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }
    </style>
    
</EditForm>

@* <EditForm Model="_model" formname="Registration" OnValidSubmit="Submit"> *@
@*     $1$ <FluentValidationValidator /> #1# *@
@* *@
@*     <InputText class="form-control" @bind-Value="_model.Email" placeholder="Email" /> *@
@*     <InputText class="form-control" @bind-Value="_model.FirstName" placeholder="First Name" /> *@
@*     <InputText class="form-control" @bind-Value="_model.LastName" placeholder="Last Name" /> *@
@*     <InputText class="form-control" Type="password" @bind-Value="_model.PasswordOne" placeholder="PasswordOne" /> *@
@*     <InputText class="form-control" Type="password" @bind-Value="_model.PasswordTwo" placeholder="PasswordTwo" /> *@
@* *@
@*     <button type="submit" class="btn btn-primary">Register</button> *@
@* </EditForm> *@

@code {
    RegistrationRequest _model = new();
    string[]? _errors;

    private async Task Submit()
    {
        var result = await Handler.HandleAsync(_model);

        if (!result.Result)
        {
            _errors = result.ErrorMessages;
            return;
        }

        Nav.NavigateTo("/");
    }
}